body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

p {
    color: white;
}

a {
    color: #60fc12;
}

a:hover {
    color: #FF0000;
    text-decoration: underline;
}

h1 {
    color: #60fc12;
    text-align: center;
    text-shadow: 5px 5px 6px #69c9c9;
}

.tagline{
    color: #a3ff74;
    text-align: center;
    text-shadow: 5px 5px 6px #558888;
    font-style:italic;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container tr td{
    padding: 10px;
    text-align: center;
}

.nav td{
    font-size:0.7em;
    text-align: right;
    width: 150px;
}